/* IMPORTO FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.row {
    display: flex;
    height: 100%;
}